* {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

html {
    margin: 0;
}

body {
    width: 512px;
    border-style: dashed;
}

header {
    margin-left: 1rem;
}

hr {
    border-style: solid;
    color: black;
}

section {
    border-style: solid;
    max-width: 412px;
    min-height: 140px;
    margin-left: 2rem;
}

p {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0;
}

h2 {
    margin-left: 1rem;
    margin-bottom: 0;
}